.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.233);
  overflow: hidden;
}

.img_container {
  max-width: 350px;
  max-height: 200px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.heart {
  width: 20px;
  fill: black;
  margin: 0 auto;
}

.heart_back,
.trashcan_back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.heart_back:hover,
.trashcan_back:hover {
  background-color: rgba(255, 106, 0, 0.4);
  box-shadow: 0 0 15px rgb(255, 105, 0);
}

.liked {
  width: 23px;
  fill: rgba(220, 20, 60, 1);
  margin: 0 auto;
}
